@model IEnumerable<RegistroVisitantes.Models.InfoVisitante>

@{
    ViewData["Title"] = "Index";
}
<div class="cardpen shadow">


<h1>Registro de Visitantes </h1>

<p>

   <a asp-action="Create" class="btn btn-neoB"> Agregar <img width="40" height="40" src="~/imgs/addvisitante.png" ></a>
    
</p>
<div class="table-responsive fondo">
    <br>
<table class="table table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>

                @*Html.DisplayNameFor(model => model.EdadVisitantes)*@
                Edad
            
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisDeOrigen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                  
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadVisitantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisDeOrigen)
            </td>

            <td>
                
<div class="btn-group">
               @* <button type="button" class="btn btn-neoc"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>*@
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-neoBr ">  Editar </a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-neoBc "> Detalles</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-neoBl ">Delete</a>
   
</div> 
            </td>
     
        </tr>

}
    </tbody>

</table>
<br>
</div>

</div>



