@model IEnumerable<RegistroVisitantes.Models.InfoVisitante>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Visitantes </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadVisitantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisDeOrigen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadVisitantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisDeOrigen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>




